*{
  margin: 0px;
  padding: 0px;
}

html {
  /*
  background-color: black;
  color: white;
  */
}

body {
  font: 32px/1.4 "WenQuanYi Micro Hei", Arial, Sans;
}

pre {
  white-space: pre-wrap;
}

code {
  font-size: 24px;
}

strong {
  color: #f0f;
}

big {
  font-size: 3em;
}

li {
  padding: .5em;
}

li li {
  font-size: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
  color: #ddd;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
}

.spacer {
  height: 200px;
}

.page {
  page-break-after: always;
  background-color: #333;
  color: white;
  margin: 1px auto;
  padding: 30px 40px;
  width: 1024px;
  height: 768px;
}

.page.last {
  page-break-after: none;
}

.page.first,
.page.last
{
  text-align: center;
  line-height: 2;
}

.page.first h1,
.page.last h1
{
  margin: 1em 0 0 0;
  color: white;
  border: none;
}

.center {
  text-align: center;
}

#header {
  text-align: center;
}

#header big {
  font-size: 64px;
}

